@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* colors: 
dark(black) : slate-900
light(white) : white
yellow : yellow-200
orange: orange-500 

black,white,purple-500,neutral-400
*/
html{
    scroll-behavior: smooth;
}

@layer base{
    body{
        @apply font-[Ubuntu];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div,.feature-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    cursor: pointer;
}

.content-div:hover{
    /* background-image: linear-gradient(
        to right,
        #3399ff,
        #b3d6ff
    ) !important; */
    background-image: linear-gradient(180deg, #B6CCF5 0.48%, #D5E3F1 100%) !important;
} 
/* .content-div:hover{
    background-image:linear-gradient(
        to right,
        #55aaff,
        #55aaff
    )!important;
} */

.logo,.foot{
    font-family: 'Sriracha', cursive !important;
}

.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .post{
    transition: 1s ease;
}
.post:hover{
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
} */
/* Home waves */
.custom-shape-divider-bottom-1666373256 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666373256 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 285px;
}

.custom-shape-divider-bottom-1666373256 .shape-fill {
    fill: #B3D6FF;
}

/* Experience waves */
.custom-shape-divider-bottom-1666374861 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666374861 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1666374861 .shape-fill {
    fill: #B3D6FF;
}

/* contact waves */
.custom-shape-divider-bottom-1666375306 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666375306 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1666375306 .shape-fill {
    fill: #06223F;
}

/* .custom-shape-divider-bottom-1666375929 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666375929 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 334px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666375929 .shape-fill {
    fill: #B3D6FF;
} */

  .icon-style{
    background-color: #78a3fa;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #78a3fa;
    border: 2px solid #78a3fa;
  }