/* @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors: 
dark(black) : slate-900
light(white) : white
yellow : yellow-200
orange: orange-500 

black,white,purple-500,neutral-400
*/
html{
    scroll-behavior: smooth;
    font-size: 16px;
}

@layer base{
    body{
        /* @apply font-sans bg-white text-black; */
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div,.feature-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    cursor: pointer;
}
.content-div:hover{
    /* background-image: linear-gradient(
        to bottom right,
        #f1f3f4,
        #f1f3f4
    ) !important; */
    background-image: radial-gradient(
        circle at 80% 90%, 
        #0e1111 0%,   /* Blue at the center */
        #0e1111 25%,     /* Black starts at 50% from the center */
        #0e1111 100%     /* Black to the edge */
      ) !important;
    border: 1px solid #fff !important;
    /* background-image: linear-gradient(180deg, #B6CCF5 0.48%, #D5E3F1 100%) !important; */
} 
/* .content-div:hover{
    background-image: linear-gradient(
        to right,
        #55aaff,
        #55aaff
    )!important;
} */

/* Home waves */
/* Experience waves */
/* contact waves */

/* .custom-shape-divider-bottom-1666375929 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666375929 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 334px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1666375929 .shape-fill {
    fill: #B3D6FF;
} */

.section-title {
  @apply text-3xl font-semibold text-black mb-6;
}

.link-arrow {
  @apply inline-flex items-center text-sm text-primary hover:underline;
}

.logo {
  font-family: 'Sriracha', cursive !important;
}